body {
  background-color: lightgoldenrodyellow;

}
      
    h1 {
text-align: center;
color: red;

}
 img { 
     padding-bottom: 30px;
     display:block;
     margin: auto;
    
 }
 p {
     text-align: center;
     margin-bottom: 30px;
     
 }

.info {
    display: flex;
    justify-content: space-evenly;
    color: green;
}